<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!--Login-->
  <category label="Account">
    <setting label="Logout" type="action" action="ActivateWindow(Videos, plugin://plugin.video.wwenetwork/?mode=400)" option="close" />
    <!--Hidden-->
    <setting id="username" type="text" visible="false" label="30140" default=""/>
    <setting id="password" type="text" visible="false" label="30150" option="hidden" default=""/>
    <setting id='login_token' type='text' visible="false" default=''/>
    <setting id='refresh_token' type='text' visible="false" default=''/>
    <setting id='last_login' type='text' visible="false" default=''/>
  </category>
  <category label="Stream Quality">
    <setting id="is_settings" type="action" label="Inputstream Addon Settings..." action="RunPlugin(plugin://plugin.video.wwenetwork/?mode=500)" enable="System.HasAddon(inputstream.adaptive)" option="close"/>
  </category>
</settings>

